.container-pokemon-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  min-height: 90vh;



  .pokemon-details-box {
    width: 85%;
    min-height: 70vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: hidden;

    .closePopUp {
      align-self: flex-end;
      position: absolute;
      width: 12%;
      min-width: 12%;
      background: none;
      border: 0;
      font-size: 3rem;
    }
    
    .poke-details,
    .poke-comments,
    .addCommentForm {
      padding-left: 20%;
      padding-right: 20%;
    }

    .poke-details {
      height: 15em;
    
      .image-conatiner {
        height: 25%;
        border: 1px solid black;
        margin-bottom: 1em;
      }

      h2 {
        text-align: center;
        margin-bottom: 1em;
      }

      .attributes {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        row-gap: 1em;

        li:nth-child(2n) {
          text-align: end;
        }
      }
    }

    .poke-comments{
      h3 {
        text-align: center;
        margin-bottom: 1em;
      }
    }

    .addCommentForm {
      margin-top: 2em;

      h3 {
        text-align: center;
        margin-bottom: 1em;
      }

      form {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
      }
    }
  }
}
