#header {
  margin-top: 1em;
  padding-left: 5%;
  width: 100%;
  min-width: 100%;
  height: 5em;
  display: grid;
  grid-template-columns: 20% 60%;
  column-gap: 10%;
  overflow: hidden;

  .logo {
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    background: grey;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @media only screen and (min-width: 992px) {
    grid-template-columns: 15% 60%;
  }
}
