#header {
  display: flex;
  height: 5em;
  max-height: 5em;
  background: yellow;
  align-content: center;
  padding: 2em 2em 3em 3em;

  .logo {
    height: 100%;
    margin-right: 2em;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
  }

  .links {
    display: flex;
    height: 100%;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
    }
  }

}