#header {
  display: flex;
  height: 5em;
  max-height: 5em;
  align-content: center;
  padding: 2em 2em 6em 6em;

  .logo {
    height: 100%;
    margin-right: 5em;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
  }

  .links {
    display: flex;
    height: 100%;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5em;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
